<!-- START: Footer Content -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<div class="contact">
    <strong>Aaron Toledo</strong><br />
    Digital Analytics and Marketing<br />
    <a href="http://linkedin.com/in/aarontoledo">linkedin.com/in/aarontoledo</a><br />
</div>
<!-- END: Footer Content -->